@import '../config.less';

.btn {
  border: 0;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  &-primary {
    background-color: @primary-color;
  }
  &-secondary {
    color: white;
    background-color: @secondary-color;
  }
  &-text {
    color: @text-color;
    background-color: transparent;
  }
  &-link {
    background-color: transparent;
    color: @link-color;
  }
}