.base {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
}
.title {
  font-size: 40px;
}

.info {
  text-align: center;
}

.code {
  color: #455e89;
  font-family: 'Berkshire Swash', cursive;
}
.divider {
  height: 1px;
  background-color: #455e89;
  width: 100%;
  opacity: .2;
}
.linksSection {
  text-align: center;
}
.linksSection a {
  color: white;
}
.author {
  color: #455e89;
  font-size: 18px;
  font-family: 'Berkshire Swash', cursive;
}