.nav {
  background-color: #212529;
  width: 100%;
  font-size: 14px;
  transition: all .8s ease-in-out;
}
.floatMenu {
  position: absolute;
  bottom: 30px;
  right: 30px;
  background-color: #212529;
  color: white;
  font-weight: bold;
  border-radius: 12px;
  padding: 10px 20px;
  display: none;
}
.visible {
  margin-top: 0vh !important;
}
@media (max-width: 45em) {
  .nav {
    position: absolute;
    margin-top: -100vh;
  }
  .floatMenu {
    display: block;
    z-index: 1;
    cursor: pointer;
  }
} 

.list {
  height: 100vh;
  overflow-y: auto;
  list-style: none;
  padding: 0;
  margin: 0;
  padding: 20px;
}

.section {
  color: #495057;
  padding: 5px 10px;
  font-weight: bold;
}
.sectionName {
  font-family: 'Fira Mono', monospace;
  font-size: 12px;
}

.active {
  background-color: #455e89;
  color: white;
}

.section ol {
  padding: 10px;
  margin: 5px 10px;
  border-radius: 5px;
  color: #edf6f9;
  cursor: pointer;
}

.section ol:hover:not(.active) {
  color: #455e89;
}