* {
  box-sizing: border-box;
}

body {
  font-family: 'Fira Sans', sans-serif;
  margin: 0;
  background-color: #0a0908;
  color: #adb5bd;
  font-size: 16px;
  overflow: hidden;
}

table {
  margin: 10px 0;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #7a736c;
  padding: 0 10px;
} 
